<p class="form-heading text-center text-nowrap">アカウント情報の編集</p>

<!-- デバッグ用に current_user を表示 -->
<%= @user.inspect %>

<div class="text-center">
  <% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

  <%= link_to("パスワード変更", edit_user_registration_path) %>
</div>
<%= form_with(model: @user, url: user_path(@user), method: "patch", multipart: true) do |f| %>
  <div class="form users-form">
    <div class="form-body">
      <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
      
      <p>アカウント名</p>
      <%= f.text_field :name, value: @user.name %>

      <p>プロフィール画像</p>
      <%= f.file_field :image %>

      <p>メールアドレス</p>
      <%= f.email_field :email, value: @user.email %>

      <%= f.submit "保存" %>
    </div>
  </div>
<% end %>
