<p class="form-heading text-center text-nowrap">アカウント情報の編集</p>
<div class="text-center">
  <%= link_to("パスワード変更", edit_user_registration_path) %>
</div>
<%= form_with(model: @user, url: user_path(id: @user.id), method: "patch", multipart: true) do |f| %>
  <div class="form users-form">
    <div class="form-body">
      <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
      
      <p>アカウント名</p>
      <%= f.text_field :name, value: @user.name %>

      <p>プロフィール画像</p>
      <%= f.file_field :image %>

      <p>メールアドレス</p>
      <%= f.email_field :email, value: @user.email %>

      <%= f.submit "保存" %>
    </div>
  </div>
<% end %>