<%= stylesheet_link_tag "users" %>
<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">アカウント一覧</h1>
    <% @users.each do |user| %>
      <%= link_to("/users/#{user.id}") do %>
      <div class="users-index-item">
        <div class="user-left">
         <img src="<%= "/user_images/#{user.image_name}"%>">
        </div>
        <div class="user-right">
          <%= user.name %>
        </div>
        <div class="user-time">
          <%= l user.created_at %>
       </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
