<div class="main users-new">
  <div class="user-new-container">
    <div class="form-heading">アカウントを作成</div>
    <div class="form-heading-link">
      または<%= link_to("ログイン","/login") %>してください
    </div>
    <div class="form users-form">
      <div class="form-body">
      <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
      <%= form_tag(users_path,{multipart: true}, ) do %>
        <p>アカウント名</p>
        <input name="name" value="<%= @user.name %>">
        <p>プロフィール画像</p>
        <input name="image"type="file">
        <p>メールアドレス</p>
        <input name="email" value="<%= @user.email %>">
        <p>パスワード</p>
        <input name="password" type="password" value="<%= @user.password %>">
        <input type="submit" value="新規作成">
        <% end %>
      </div>
    </div>
  </div>
</div>
