<div class="main top-main">
  <%= link_to "IPアドレス計算ツール(IPv4)", new_ip_tool_path, class: "btn btn-primary mt-3" %>

  <ul class="list-group mt-3 ms-0" style="width: fit-content;">

    <li class="list-group-item">アクセス情報</li>
    <li class="list-group-item">IPアドレス: <%= @ip %></li>
    <% if @location %>
      <li class="list-group-item">国: <%= @location[:country] %></li>
      <li class="list-group-item">地域: <%= @location[:region] || "不明" %></li>
      <li class="list-group-item">市区町村: <%= @location[:city] || "不明" %></li>
    <% else %>
      <li class="list-group-item">位置情報を取得できませんでした</li>
    <% end %>

  </ul>

  <!--
  <% if @latitude && @longitude %>
    <div class="map-wrapper">
      <div id="map"></div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(:google_maps, :api_key) %>"></script>
    <script>
      function initMap() {
        var latLng = { lat: <%= @latitude %>, lng: <%= @longitude %> };

        var map = new google.maps.Map(document.getElementById('map'), {
          center: latLng,
          zoom: 12
        });

        new google.maps.Marker({
          position: latLng,
          map: map,
          title: "アクセス元の位置"
        });
      }

      window.onload = initMap;
    </script>
  <% end %> 
  -->
  
  
  <div class="github-link">
    <p>ソースコード→
    <%= link_to "https://github.com/sakamoto-yuji/syasyutu-seikei.com", target: "_blank" do %>
      <img src="/github.jpeg"> 
    <% end %>
</div>
