<!DOCTYPE html>
<html>
  <% @main_title = "Molding.com" %>
  <head>
    <title><%= @main_title %></title>
    <%= favicon_link_tag("favicon.ico") %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery',"jquery_ujs", 'data-turbolinks-track': 'true' %>
  </head>

  <body>
  <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("#{@main_title}","/posts/index") %>
     <% else %>
       <%= link_to("#{@main_title}","/top") %>
     <% end %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <%= link_to(@current_user.name,"/users/#{@current_user.id}") %>
          </li>
        <li>
         <%= link_to("タイムライン","/posts/index") %>
        </li>
        <li>
         <%=link_to("ツイートする","/posts/new") %>
        </li>
        <li>
         <%= link_to("アカウント一覧","/users/index") %>
        </li>
        <li>
          <%= link_to("ログアウト","/logout",method: :post)%>
        </li>
      <% else %>
        <li>
         <%= link_to("twitterっぽいものとは","/about") %>
        </li>
        <li>
        <%= link_to("新しいアカウントを作成","/signup") %>
        </li>
        <li>
          <%= link_to("ログイン","/login") %>
        </li>
      <% end %>
      </ul>
    </header>
    
    <% if flash[:notice] %>
     <div class="flash">
       <%= flash[:notice] %>
     </div>
    <% end %>


    <%= yield %>


    <footer>
   <div class="footer-logo">
        <% if @current_user %>
          <%= link_to("#{@main_title}","/posts/index") %>
     <% else %>
       <%= link_to("#{@main_title}","/top") %>
     <% end %>
      </div>
      <ul class="footer-menus">
        <% if @current_user %>
          <li>
            <%= link_to(@current_user.name,"/users/#{@current_user.id}") %>
          </li>
        <li>
         <%= link_to("タイムライン","/posts/index") %>
        </li>
        <li>
         <%=link_to("ツイートする","/posts/new") %>
        </li>
        <li>
         <%= link_to("アカウント一覧","/users/index") %>
        </li>
        <li>
          <%= link_to("ログアウト","/logout",method: :post)%>
        </li>
      <% else %>
        <li>
         <%= link_to("twitterっぽいものとは","/about") %>
        </li>
        <li>
        <%= link_to("新しいアカウントを作成","/signup") %>
        </li>
        <li>
          <%= link_to("ログイン","/login") %>
        </li>
      <% end %>
      </ul> 
    </footer>
  </body>
</html>
